<div>
    <a routerLink="/home" routerLinkActive="active">Home</a> |
    <a routerLink="/about" routerLinkActive="active">About</a> |
    <a routerLink="/contact" routerLinkActive="active">Contact</a> |
    <a routerLink="/press" routerLinkActive="active">Press</a> |
    <a routerLink="/videos" routerLinkActive="active">Videos</a> |
    <a routerLink="/donations" routerLinkActive="active">Donations</a> |
    <a routerLink="/future-partners" routerLinkActive="active">Future Partners</a>
</div> <!-- menu component html -->
